@model TodoListWebApp.ViewModels.FlexibilityViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Flexibility</h2>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(m => m.ArmAndShoulderModel.ArmAndShoulder) Data</h3>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(m => m.ArmAndShoulderModel.ArmAndShoulder)</th>
                <th>@Html.DisplayNameFor(m => m.ArmAndShoulderModel.Logged)</th>
            </tr>
            @foreach (var item in Model.ArmAndShoulder)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.ArmAndShoulder)</td>
                    <td>@Html.DisplayFor(m => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(m => m.SitAndReachModel.SitAndReach) Data</h3>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(m => m.SitAndReachModel.SitAndReach)</th>
                <th>@Html.DisplayNameFor(m => m.SitAndReachModel.Logged)</th>
            </tr>
            @foreach (var item in Model.SitAndReach)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.SitAndReach)</td>
                    <td>@Html.DisplayFor(m => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(m => m.TrunkLiftModel.TrunkLift) Data</h3>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(m => m.TrunkLiftModel.TrunkLift)</th>
                <th>@Html.DisplayNameFor(m => m.TrunkLiftModel.Logged)</th>
            </tr>
            @foreach (var item in Model.TrunkLift)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.TrunkLift)</td>
                    <td>@Html.DisplayFor(m => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>