@model IEnumerable<TodoListWebApp.Models.Flexibility>

@{
    ViewBag.Title = "Index";
}

<h2>Flexibility</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SitAndReach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArmAndShoulder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrunkLift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logged)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SitAndReach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArmAndShoulder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrunkLift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logged)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
