@model TodoListWebApp.ViewModels.CardioViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Cardiovascular Fitness</h2>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(a => a.MileTimeModel.MileTime)</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(a => a.MileTimeModel.MileTime)</th>
                    <th>@Html.DisplayNameFor(a => a.MileTimeModel.Logged)</th>
                </tr>
            </thead>
            @foreach (var item in Model.Mile)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.MileTime)</td>
                    <td>@Html.DisplayFor(m => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(a => a.HalfMileTimeModel.HalfMileTime)</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(a => a.HalfMileTimeModel.HalfMileTime)</th>
                    <th>@Html.DisplayNameFor(a => a.HalfMileTimeModel.Logged)</th>
                </tr>
            </thead>
            @foreach (var item in Model.HalfMile)
            {
                <tr>
                    <td>@Html.DisplayFor(hm => item.HalfMileTime)</td>
                    <td>@Html.DisplayFor(hm => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(a => a.PacerModel.Pacer)</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(a => a.PacerModel.Pacer)</th>
                    <th>@Html.DisplayNameFor(a => a.PacerModel.Logged)</th>
                </tr>
            </thead>
            @foreach (var item in Model.Pacer)
            {
                <tr>
                    <td>@Html.DisplayFor(p => item.Pacer)</td>
                    <td>@Html.DisplayFor(p => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(a => a.StepTestModel.StepTestSteps)</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(a => a.StepTestModel.StepTestSteps)</th>
                    <th>@Html.DisplayNameFor(a => a.StepTestModel.Logged)</th>
                </tr>
            </thead>
            @foreach (var item in Model.StepTest)
            {
                <tr>
                    <td>@Html.DisplayFor(s => item.StepTestSteps)</td>
                    <td>@Html.DisplayFor(s => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(a => a.HeartRateModel.HeartRate)</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(a => a.HeartRateModel.HeartRate)</th>
                    <th>@Html.DisplayNameFor(a => a.HeartRateModel.Logged)</th>
                </tr>
            </thead>
            @foreach (var item in Model.HeartRate)
            {
                <tr>
                    <td>@Html.DisplayFor(h => item.HeartRate)</td>
                    <td>@Html.DisplayFor(h => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>