@model TodoListWebApp.ViewModels.StrengthEnduranceViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Muscular Strength And Endurance</h2>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(m => m.CurlUpModel.CurlUps) Data</h3>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(m => m.CurlUpModel.CurlUps)</th>
                <th>@Html.DisplayNameFor(m => m.CurlUpModel.Logged)</th>
            </tr>
            @foreach (var item in Model.CurlUp)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.CurlUps)</td>
                    <td>@Html.DisplayFor(m => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(m => m.FlexedArmHangModel.FlexedArmHang) Data</h3>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(m => m.FlexedArmHangModel.FlexedArmHang)</th>
                <th>@Html.DisplayNameFor(m => m.FlexedArmHangModel.Logged)</th>
            </tr>
            @foreach (var item in Model.FlexedArmHang)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.FlexedArmHang)</td>
                    <td>@Html.DisplayFor(m => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(m => m.MaxBenchModel.MaxBench) Data</h3>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(m => m.MaxBenchModel.MaxBench)</th>
                <th>@Html.DisplayNameFor(m => m.MaxBenchModel.Logged)</th>
            </tr>
            @foreach (var item in Model.MaxBench)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.MaxBench)</td>
                    <td>@Html.DisplayFor(m => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(m => m.MaxLegPressModel.MaxLegPress) Data</h3>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(m => m.MaxLegPressModel.MaxLegPress)</th>
                <th>@Html.DisplayNameFor(m => m.MaxLegPressModel.Logged)</th>
            </tr>
            @foreach (var item in Model.MaxLegPress)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.MaxLegPress)</td>
                    <td>@Html.DisplayFor(m => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(m => m.PullUpModel.PullUps) Data</h3>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(m => m.PullUpModel.PullUps)</th>
                <th>@Html.DisplayNameFor(m => m.PullUpModel.Logged)</th>
            </tr>
            @foreach (var item in Model.PullUp)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.PullUps)</td>
                    <td>@Html.DisplayFor(m => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(m => m.RightAnglePushUpModel.RightAnglePushUps) Data</h3>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(m => m.RightAnglePushUpModel.RightAnglePushUps)</th>
                <th>@Html.DisplayNameFor(m => m.RightAnglePushUpModel.Logged)</th>
            </tr>
            @foreach (var item in Model.RightAnglePushUp)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.RightAnglePushUps)</td>
                    <td>@Html.DisplayFor(m => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>
