@model TodoListWebApp.Models.BodyComposition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BodyComposition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyFat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyFat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logged)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
