@model TodoListWebApp.ViewModels.BodyCompViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Body Composition</h2>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(a => a.HeightModel.Height) Data</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(a => a.HeightModel.Height)</th>
                    <th>@Html.DisplayNameFor(a => a.HeightModel.Logged)</th>
                </tr>
            </thead>
            @foreach (var item in Model.Height)
            {
                <tr>
                    <td>@Html.DisplayFor(h => item.Height)</td>
                    <td>@Html.DisplayFor(h => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(a => a.WeightModel.Weight) Data</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(w => w.WeightModel.Weight)</th>
                    <th>@Html.DisplayNameFor(w => w.WeightModel.Logged)</th>
                </tr>
            </thead>
            @foreach (var item in Model.Weight)
            {
                <tr>
                    <td>@Html.DisplayFor(w => item.Weight)</td>
                    <td>@Html.DisplayFor(w => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Html.DisplayNameFor(a => a.PercentBodyFatModel.BodyFat) Data</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(b => b.PercentBodyFatModel.BodyFat)</th>
                    <th>@Html.DisplayNameFor(b => b.PercentBodyFatModel.Logged)</th>
                </tr>
            </thead>
            @foreach (var item in Model.BodyFat)
            {
                <tr>
                    <td>@Html.DisplayFor(b => item.BodyFat)</td>
                    <td>@Html.DisplayFor(b => item.Logged)</td>
                </tr>
            }
        </table>
    </div>
</div>